body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  padding-top: 80px; /* espace pour la navbar fixe */
}

header {
  background: #2c7be5;
  color: white;
  padding: 11px;
  display: flex;
  justify-content: space-between;

  position: fixed;   /* 🔥 FIXE */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;     /* reste au-dessus du contenu */
}

form input, form button {
  margin: 5px;
  padding: 8px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

button {
  cursor: pointer;
}

